{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h2 style='color:black'>WELCOME TO THE CAR CARE PORTAL</h2>
  <h3 style='color:black'>WE ARE SORRY THIS HAPPENED TO YOU</h3>
  <h3 style='color:black'>LET US HELP YOU GET BACK ON THE ROAD</h3>
</div>

<div class="bottom">
  <h4 style='color:black'>HOW DOES THIS WORK:</h4>
  <h5 style='color:black'>CLICK ON CAR DAMAGE TOOLKIT</h5>
  <h5 style='color:black'>UPLOAD AN IMAGE</h5>
  <h5 style='color:black'>CLICK ON PROCESS</h5>
</div>
{% endblock %}
